#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui green inverted menu"> 
  <a class="ui active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a> 
  <a class="ui item" href="/leaderboard">Leaderboard</a>  
  <a class="ui item" href="/logout">Logout</a>     
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
              (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
            </div>
          #{/list}
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
           <div class="ui list">
           #{list items:conversations, as:'conversation'} 
           <table class = "ui inverted orange table segment">
            <thead>
            <tr>
              <th>Message</th>
               <th>Sender</th>
               <th>Profile Picture</th>
            </tr>
            </thead>
            #{list items:conversation, as:'message'}
             <tbody> 
              <tr>
                <td>${message.messageText}</td>
                <td> <a href="/publicprofile/${message.from.id}">${message.from.firstName}</a></td>
                <td><img src="/profile/getpicture/${message.from.id}"></td>
              </tr>
              </tbody>
              #{/list}
              </table>
             #{/list}
            </div> 
                       
         <nav class="ui menu"> 
           <a class="small ui green button" href="/home">BY DATE</a>      
           <a class="small ui green button" href="/home/bySender">BY SENDER</a>   
           <a class="small ui green button" href="/home/byConversation">BY CONVRSATION</a> 
         </nav>       
      </div>
    </div>
  </div>
</section>